@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

:root {
    --accent-color: #0284c7;
    --accent-second-color: #f9bf39;
    --onfocus-color: #242222;

    --font-bg-color: #f7f7f7;
    --bg-second: #dde1ea;

    --section-padding: clamp(1rem, calc(1.5rem + 1vw), 3vw);
    --section-gap: calc(3rem + 0.5vh);
    --section-item-gap: calc(1rem + 0.5vw);

    --btn-min-w: calc(5rem + 1vw);
    --outer-shadow-xl: 4px 4px 10px rgba(0, 0, 0, 0.10);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--font-bg-color);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 
    "aside header header"
    "aside main main";
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

aside {
    position: relative;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: var(--section-gap); 
    background-color: var(--accent-color);
    color: white;
    padding: var(--section-padding);
    font-size: calc(0.5rem + 1vw);
}

h1, h2, h3, h4 {
    text-transform: capitalize;
}

h1 {
    position: sticky;
    top: calc(var(--section-padding) + 0.5rem) 
}

p {
    font-weight: 300;
}

nav {
    position: sticky;
    top: calc(var(--section-padding)*2 + var(--section-gap) + var(--section-item-gap))
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap); 
}

aside ul > section {
    display: flex;
    flex-direction: column;
    gap: var(--section-item-gap);
}

li {
    display: grid;
    list-style: none;
}

nav a {
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
    
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
}

a:hover {
    text-shadow: var(--outer-shadow-xl);
}

a:focus {
    outline: none;
}

li:focus-within {
    border-radius: 0.5rem;
    outline: 2px solid var(--onfocus-color);
    outline-offset: 0.5rem;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    gap: var(--section-gap);
    box-shadow: var(--outer-shadow-xl);
    z-index: 1;
}

 input, .left-input-icon, .button {
    padding: 0.5rem;
    border-radius: 0.75rem;
    outline: none;
}

.input-container {
    background-color: var(--bg-second);
    border-radius: 0.75rem;
    border: 2px solid var(--onfocus-color);
    display: flex;
    flex: 1;
}

.left-input-icon {
    justify-self: center;
    align-self: center;
    border-right: 2px solid var(--onfocus-color);
}

.input {
    background-color: inherit;
    flex: 1;
}

.input-container:focus-within {
    border: 2px solid var(--accent-color);
}

.input-container:focus-within .left-input-icon {
  border-right-color: var(--accent-color);
}

.header-top {
    display: flex;
    align-items: center;
    gap: calc(var(--section-item-gap) + 10vw);
}

.header-top > section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    gap: calc(1rem + 1vw);
}

.header-top .material-symbols-outlined {
    font-variation-settings:
    'wght' 700,
    'opsz' 40
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--section-item-gap);
}

.header-bottom > section {
    display: flex;
    gap: var(--section-item-gap);
}

.greeting-section {
    flex-direction: row-reverse;
    align-items: center;
}

.greeting-section img {
    max-height: clamp(calc(4rem + 1vh), 8vh, 128px);
}

.btn-section {
    flex-wrap: wrap;
}

.button {
    font-family: inherit;
    font-size: calc(0.75rem + 0.5vw);
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 700;
}

object {
    pointer-events: none;
}

.icon-button {
    display: flex;
    background-color: inherit;
    font-family: 'Arial Unicode MS', sans-serif;
}

.icon-button:hover {
    text-shadow: var(--outer-shadow-xl);
}

.large {
    min-width: calc(5rem + 1vw);
}

.small {
    min-width: calc(1rem + 1vw);
}

.filled {
    background-color: var(--accent-color);
    color: var(--font-bg-color);
}

.filled:hover {
    background-color: #0173ae;   
}

@supports (color-mix: inherit) {
    .filled:hover {
        background-color:  color-mix(in srgb, var(--accent-color), black 10%);
    }
}

.button:focus {
    outline: 2px solid var(--onfocus-color);
}

.header-bottom h2 {
    flex: 1;
}

main {
    grid-area: main;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: var(--section-padding);
    gap: var(--section-gap);
    background-color: var(--bg-second);
}

.article-wrapper > article {
    background-color: var(--font-bg-color);
    padding: var(--section-padding);
}

.article {
    display: grid;
}

.project-section .article-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: calc(2rem + 0.5vh);
}

.project-section {
    display: grid;
    grid-column: span 2;
}

.right-side {
    --temp: calc(2rem + 0.5vh);
    display: grid;
    gap: calc(2rem + 0.5vh);
    grid-column: span 2;

    align-items: stretch;
}

.right-side .article-wrapper {
    display: grid;
}

.right-side > section {
    display: grid;
    grid-column: span 2
}

img {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    max-height: clamp(calc(3rem + 1vh), 6vh, 128px);
}

svg {
    background-color: lightcoral;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.card {
    background-color: var(--font-bg-color);
    padding: var(--section-padding);

    display: flex;
    flex-direction: column;
    gap: var(--section-item-gap);

    border-radius: 0.5rem;
    box-shadow:
    0.8px 0.9px 0.9px rgba(0, 0, 0, 0.035),
    6px 7px 7px rgba(0, 0, 0, 0.07);

    border-left: 0.5rem solid var(--accent-second-color);
}

.card > section {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: calc(0.5rem + 0.5vw);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
